In [1]:
number = 100
number2= 200
number
number2

200

In [ ]:
#Above is printing only last value if we want we need print

In [3]:
number = 100
number2= 200
print(number)
print(number2)

100
200

In [ ]:
#Python is interpreted language it is run from step by step if it gives error the next line wont run

In [4]:
a = 100
b = g
c = 1

NameError: name 'g' is not defined

In [5]:
a = 100
b = 4
c = 1

In [6]:
print(a,b)

100 4

In [7]:
print(a,b,c)

100 4 1

**joining multiple print statements**

In [9]:
print('mahesh')
print('narahari')

mahesh
narahari

In [10]:
print('mahesh',end="")
print('narahari')

maheshnarahari

In [11]:
print('mahesh',end=" ")
print('narahari')

mahesh narahari

In [12]:
print('mahesh',end="")
print(' narahari')

mahesh narahari

In [13]:
print('mahesh',end="------------------")
print('narahari')

mahesh------------------narahari

In [15]:
print('mahesh',end=" ")
print('babu')
print('narahari')

mahesh babu
narahari

In [16]:
print('mahesh',end=" ")
print('babu', end=" ")
print('narahari')

mahesh babu narahari

In [17]:
a = 1
b = 2
add = a+b
print("The sum is ",add)

The sum is  3

In [23]:
a = 1
b = 2
add = a+b
print("The sum of ". a ."and". b . "is". add)

SyntaxError: invalid syntax (3037650426.py, line 4)

In [25]:
a = 1
b = 20
add = a + b
print("The sum of",a, "and",b,"is",add)

The sum of 1 and 20 is 21

**F strings**

In [26]:
print(f"The sum of {a} and {b} is {add}")

The sum of 1 and 20 is 21

In [29]:
print(f"The sum of {a} and {b} is {add}")

The sum of 1 and 20 is 21

In [31]:
name = "Mahesh"
city = "Bnglr"
age = 25
print(f"Hi My name is {name} and my age is {age} and i am from {city}")

Hi My name is Mahesh and my age is 25 and i am from Bnglr

In [34]:
name = "Mahesh"
city = "Bnglr"
age = 25
print("Hi My name is",name)

Hi My name is Mahesh

In [35]:
print("The sum of "+ a +"and"+ b + "is"+ add) #Variables shld not be otehr data types

TypeError: can only concatenate str (not "int") to str

In [40]:
print("The sum of {} and {} is {}".format(a,b,add))

The sum of 1 and 20 is 21

In [42]:
print("Hi My name is {} and i am from {} and i am {} old".format(name,city,age))

Hi My name is Mahesh and i am from Bnglr and i am 25 old

In [46]:
val1 = 20
val2 = 30
add = val1+val2
sub = val1-val2
mul = val1*val2
remainder = val1%val2
div = val1/val2

print("The addition of {} and {} is {}".format(val1,val2,add))
print("The subtarction of {} and {} is {}".format(val1,val2,sub))
print("The multiplication of {} and {} is {}".format(val1,val2,mul))
print("The remainder of {} and {} is {}".format(val1,val2,remainder))
print("The div of {} and {} is {}".format(val1,val2,div))

The addition of 20 and 30 is 50
The subtarction of 20 and 30 is -10
The multiplication of 20 and 30 is 600
The remainder of 20 and 30 is 20
The div of 20 and 30 is 0.6666666666666666

In [47]:
round(div)

1

In [48]:
round(div,2)

0.67

In [49]:
print("The div of {} and {} is {}".format(val1, val2, round(div, 2)))
print("The div of {} and {} is {:.2f}".format(val1, val2, div))

The div of 20 and 30 is 0.67
The div of 20 and 30 is 0.67

In [ ]:
20/30  #divison
20%30  #modulus or remainder 
20//30 # floor divison or quotient

In [50]:
print(5/2)
print(5//2)
print(5%2)

2.5
2
1

**INPUT KEYWORD**

In [53]:
input() #input is always string

 5

'5'

In [54]:
input("Enter the value")

Enter the value 10

'10'

In [55]:
input("Enter the value A")
input("Enter the value A")

Enter the value A 10
Enter the value A 20

'20'

In [57]:
type(input())

 12

str

In [58]:
val1 = input("val 1")
val2 = input("Val 2")
add = val1+val2
print("The sum of {} and {} is {}".format(val1,val2,add))

val 1 12
Val 2 13

The sum of 12 and 13 is 1213

In [ ]:
#The issue is it is string . by default the input value is string

In [59]:
val1 = input("val 1")
val2 = input("Val 2")
add = int(val1)+int(val2)
print("The sum of {} and {} is {}".format(val1,val2,add))

val 1 12
Val 2 13

The sum of 12 and 13 is 25

In [62]:
#Suppose if we type any decimals in input and if we typecasting with int it will fail 
int(input(''))

 100.4

ValueError: invalid literal for int() with base 10: '100.4'

**eval**

In [66]:
#eval it will take automatically take crct it is only for numbers if it is strings we need to type in quotes
eval(input())

 apple

NameError: name 'apple' is not defined

In [67]:
input(int())

0 1

'1'